
.card{
    padding-left: 25px;
    padding-top: 50px;
    align-items: center;
}
.innercard{
    text-align: center;
    border: solid;
    width: 52vw;
    height: 35vw;
    border-radius: 10px;
}
input{
    text-align: center;
    width: 180px;
    margin-top: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    
}
h{
    color: rgb(22, 16, 215);
    border-block-start-width: 20px;
}
.h4{
    color: rgb(0, 0, 0);
}
